.js-rootresizer__contents {
  background-color: transparent !important;
}
.toolbar-2n2cwgp5- {
  background-color: transparent !important;
}
html.theme-dark .group-wWM3zP_M- {
  background-color: transparent !important;
}
.group-wWM3zP_M- {
  background-color: transparent !important;
}
html.theme-dark ._tv-dialog {
  background: inherit;
}
._tv-dialog {
  background: inherit;
}
html.theme-dark .tv-dialog {
  background-color: inherit;
}
.icon-beK_KS0k- + .text-1sK7vbvh- {
  display: none;
}
